.toDo{
    padding: 15px;
}

.task{
    margin: 10px auto;
}

.input{
    margin-bottom: 10px;
}

.input-group {
    width: 300px;
}

.actionButton{
    margin: 5px;
}

.card {
    width: 200px;
    margin: 15px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}