.aboutSection {
    padding: 40px 0 100px 0;
}

.aboutTitle {
    color: #1e2b22;
    text-shadow: 1px 1px 5px grey;
    padding: 30px 0 70px 0;
}

.aboutHeadPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sitePic{
    width: 500px;
    box-shadow: 8px 0px 12px #5a5656;
}

.aboutTextDesc {
    width: 500px;
    font-size: 17px;
    font-family: monospace;
}

.text {
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 20px;
}

.codeLink {
    color: #bfefcb;
    text-decoration: revert;
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
    .sitePic{
        width: 320px;
    }

    .aboutTextDesc {
        width: 320px;
    }
}